@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
<h4><b><u>Integrantes</u></b></h4>
<p><b>Pablo Garcia</b> 3190-17-20126</p>
<p><b>Kisler González</b> 3490-17-856</p>
<p><b>Elio Juárez</b> 3490-17-3316</p>
<p><b>Carlos Álvarez</b> 3490-17-5731</p>
<p><b>Rafael Guerra</b> 4390-08-4566</p>
<p><b>Anner López</b> 3190-14-17262</p>
